СЕЛЕКТОРИ - ЧАСТИНА 4
<div lang="fr" class="card p-5 m-5 card-dark">
    <a class="link" href="https://github.com/topics/testing">Click me</a>
</div>

<div lang="en" id="test" class="card p-5 m-5 card-dark">
    <input>
    <span>Hello World!</span>
</div>

<div class="p-5 m-5 card-dark">
    <button>Test button</button>
    <button disabled>Test button</button>
</div>

<div class="p-5 mt-5 card-dark">
    <input class="inp">
    <input class="inp" readonly>
    <input class="inp" disabled>
    <div>
        <div> <input type="checkbox" checked>
            <span>First checkbox</span>
        </div>
        <div> <input type="checkbox">
            <span>Second checkbox</span>
        </div>
    </div>
</div>

<div class="p-5 m-5 card-dark">
    <input type="email" required class="valid">
</div>
<div class="p-5 m-5 card-dark">
    <div><input type="email" class="valid" placeholder="test">
        <p>Test text</p>
    </div>
    <div class="mt-5"><input type="number" min="8" max="18" required class="number"></div>

</div>