СЕЛЕКТОРИ - ЧАСТИНА 3
<div class="card p-5 m-5 card-dark">
    <input class="input-dark p-4" placeholder="Write there" required>
    <input class="input-dark" type="number">
</div>
<div class="card p-5 m-5 card-dark">
    <img class="small-img" alt="image small card 100px" src="https://picsum.photos/id/237/200/300" height="100" />
    <a href="#" rel="external ffff ffdd">Link</a>
    <button class="btnprimary">Click me</button>
    <button class="btn-primary before-after">Click me</button>
    <button class="btn btn-primary ">Click me</button>
    <a href="#" alt="external ffff ffdd">Link</a>
    <a href="#" alt="ffffexternal ffdd">Link</a>
    <a href="#" alt="ffff ffddexternal ">Link</a>
    <a href="#" alt="ffff ffddexternal blin">Link</a>
</div>
<div class="card p-5 m-5 card-dark">
    <p class="before-after">Атрибут "background-color" використовується для стилізації фонового кольору блоку HTML
        елемента. Це
        означає, що
        весь фон елемента буде заповнений зазначеним кольором.


        Атрибут "background" визначає зображення або градієнт, яке буде використовуватися як фон для елемента. Цей
        атрибут може також включати властивості фонового кольору та повторювання фону. Якщо властивість
        "background-color" не вказана, то, за замовчуванням, фон буде прозорим.


        Отже, властивість "background-color" визначає лише кольоровий фон, а властивість "background" може включати
        градієнти та зображення, які можуть прикрашати фон елемента.</p>
</div>