СЕЛЕКТОРИ - ЧАСТИНА 1

{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<style>
    h1 {
        color: #966789;
    }
</style>
<div class="p-5 box">
    <h1 style="color: #110b60">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <h1 class="button">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h3 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>

    <button type="button" class="button" id="button">Купити</button>
    <br>
    <br>
    <p>This is any text</p>

</div>

<div class="p-5 box">
    <h1 style="color: #110b60">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <b>This is any text</b>

</div>

<div class="p-5 box">
    <h1 style="color: #110b60">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <s>avot hren</s><br>
    <b>This is any text</b>
    <div><b>This is any text</b></div>
    <section><b>This is any text</b></section>

</div>

<footer class="p-5 box">
    <div>
        <em>Test text</em>
    </div>

</footer>