Відображення тексту
<main class="p-5">
	<div class="card p-5">
		<p>
			Hello World! Hello World! World! Hello World!
		</p>
	</div>
</main>
<main class="p-5">
	<div class="card p-5">
		<p id="test">
			Hello World!
		</p>
	</div>
	<span>
		<h1>qwertyuiop asdfghjkl zxcvbnm</h1>
	</span>
	<pre>
        Wery		 well
    </pre>
	<span class="test">
		qwertyuiop asdfghjkl zxcvbnm
	</span>
</main>
<div>Block</div>
<div>Block</div>
<div>Block</div>
<div>Block</div>
<div>Block</div>
<div style="margin: 50px 30px 0px 70px">
	<span class="block">eeeeeeeeeeeeeeeeeeeeeeeee</span>
	<span>InLine</span>
	<span>InLine</span>
	<span>InLine</span>
</div>
<div style="background-color: gray; padding: 45px">
	<span>InLine</span>
	<span class="inlineblock">InLqqqqqqqqqqqqqqqqqqqqqqqqqqvvvvvvvvvvdddd</span>
	<span>InLine</span>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
</div>