:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;

  --color-border-: #dee2e6;
  --colore-primary: rgb(46, 46, 255);
  --color-white: #fff;
  --color-title: #212529;
  --color-text: #343a40;

  --border-radius-d: 12px;
  --border-radius-s: 4px;
  --weight-title: 600;
  --weight-text: 400;

  --max-width: 1000px;
}

/* ================================== */

.page {
  background: #ffffff;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}
.page_content {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ================================ */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--colore-border);
  display: flex;
  justify-content: space-between;
  width: var(--max-width);
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid var(--colore-bor-der-);
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  padding: 6px;
  background: var(--colore-primary);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l) 0;
}
.nav_vertical {
  gap: var(--space-xm) 0;
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
  transition-property: color;
  transition-duration: 2s;
}

.nav_inline > *:not(:last-child) {
  margin-right: 12px;
}

.nav_link .nav_link:hover {
  text-decoration: underline;
  color: var(--colore-primary);
}

.footer {
  padding: 24px 0;
  border-top: 1px solid var(--colore-border);
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--colore-bor-der-);
}

.footer-copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
  margin-right: 100px;
}

.footer_title {
  font-size: var(--space-l);
  color: var(--color-title);
  display: flex;
  margin-bottom: var(--space-l);
  font-weight: var(--weight-title);
  border-top: #343a40;
}

.main {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 40px;
}

.messages {
  max-width: 620px;
  width: 100%;

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
  padding: var(--space-l);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.messages_title {
  font-size: var(--size-b);
  color: var(--color-title);
  font-weight: var(--weight-text);
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border-);
}

.messages_link {
  color: var(--colore-primary);
  font-size: var(--size-s);
  /* text-align: right; */
  align-self: flex-end;
  /* transition: opacity 0.7s;*/
  text-decoration: none;
  transition-duration: 0.7s;
  transition-property: opacity, border-color;
  border-bottom: 1px solid transparent;
}

.messages_link:hover {
  opacity: 0.7;
  /* text-decoration: underline; */
  border-color: var(--colore-primary);
}

.msg {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  position: relative;
  padding-right: var(--space-b);
}

.msg_name {
  font-size: var(--size-d);
  color: var(--color-title);
  font-weight: var(--weight-title);
}

.msg_text {
  font-size: var(--size-d);
  color: var(--color-title);
  font-weight: var(--weight-text);
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border-);
}

.msg_day {
  position: absolute;
  right: 0;
  top: 0;
}

.advantages {
  display: flex;
  gap: var(--space-l);
}

.advantages > div {
  display: flex;
  flex-direction: column;
  border: 1px solid #e4eaf2;
  border-radius: var(--border-radius);
  padding: var(--space-l);
  gap: 8px;
  width: 100%;
}

.advantages > div > strong {
  color: var(--color-title);
  font-weight: var(--weight-title);
  font-size: 18px;
}

.advantages > div > p {
  color: #767676;
  font-size: var(--size-d);
  line-height: 150%;
}

.advantages > div:nth-of-type(2) {
  flex-grow: 1;
  width: 100%;
}

.form {
  flex-grow: 11;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: var(--space-l);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  max-width: 340px;
  width: 100%;
}

.form_title {
  text-align: center;
  font-size: var(--size-b);
  font-weight: var(--weight-text);
  color: var(--color-title);
}

.form_info {
  text-align: center;
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: #6c757d;
}

.form_button {
  text-align: center;
  padding: 12px;
  background-color: var(--colore-primary);
  color: var(--color-white);
  /* border-radius: calc(var(--border-radius) / 3); */
  border-radius: var(--border-radius-s);
  transition: opacity 0.7s;
}

.form_button:hover {
  opacity: 0.7;
}

.form_button:active {
  opacity: 0.4;
}

.input_list {
  display: flex;
  gap: var(--space-m);
  flex-direction: column;
  padding: 8px;
}

.form_input {
  padding: var(--space-xm);
  border: 1px solid #ced4da;
  border-radius: var(--border-radius-s);
  gap: var(--space-m);
}

.form_input::placeholder {
  color: var(--color-title);
  font-size: var(--size-d);
}

.form_checkbox {
  display: flex;
  gap: 8;
  align-items: center;
}

.form_checkbox > input {
  display: none;
}

.form_checkbox > input ~ div {
  border: 1px solid #767676;
  border-radius: 4px;
  height: 13px;
  width: 13px;
}

.form_checkbox > input:checked ~ div {
  border-color: var(--colore-primary);
  background-color: var(--colore-primary);
}

.form_checkbox > label {
  color: var(--color-title);
  font-size: var(--size-d);
  cursor: pointer;
}
