<div class="card_bild">
	<img src="{{photo}}" alt="{{id}}" class="card_photo">
	<h3 class="card_name">{{name}}</h3>
	<p class="card_text">{{description}}</p>
	<button class="btn_all">Read All</button>
	<div class="lable">
		{{#if isNew}}NEW{{/if}}
	</div>
</div>