<footer>
	<div class="footer">
		<div class="footer_items">
			{{#each pages}}
			<a href="{{path}}" class="link_item">{{name}}</a>
			{{/each}}
			<div class="">
				<span class="footer_copyright">{{copyright}}</span>
			</div>
		</div>
	</div>
</footer>